* {
	outline: none !important;
}

body {
	// background-color: $primary-color;
}

header {
	background-color: #fff;
	padding: $grid-gutter;

	.logo {
		margin: 0 auto;
		display: block;
	}
}

main {
	padding-top: 15vh;
}















p {
	width: 100px;
	height: 100px;
	background-color: #26a69a;
	margin: 20px auto;
}

