* {
	outline: none !important;
	// border: 1px solid hotpink;
}

body {
	// background-color: $primary-color;
	color: #555;
}

header {
	background-color: #fff;
	padding-top: $grid-gutter;

	.logo {
		margin: 0 auto;
		display: block;
	}
}

main {
	position: relative;
}

@media(min-width: $medium-screen-up) {
	.container {
		width: 85%;
	}
}

.filter.btn {
	padding: 0 15px;

	$height: 1.5rem; 
	height: $height;
	line-height: $height;
	font-size: ($height / 2);

	background-color: $primary-color;

	&.active {
		background-color: $secondary-color;
	}
}

.category-wrapper {
	border-top: 1px solid #ccc;

	padding-top: 15px;
	padding-bottom: 15px;
}

.card .card-image img {
	display: block;
}

.cards.category {
	.card-content {
		color: color('grey', 'darken-2');
	}
}

.year {
	h5 {
		margin-top: 30px;
	}
}

.breadcrumbs {
	margin-top: 30px;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: $primary-color;
	background: linear-gradient($primary-color, darken($primary-color, 15%));
}